:root {
  --gra-color1: #FAF29D;
  --gra-color2: #F5FFDB;
  --gra-color3: #CCFFE6;
  --main-color: #87F6A6;
}

.App {
  text-align: center;
  user-select: none;
}

div {
  box-sizing: border-box;
}

.nav {
  display: flex;
  background: white;
  width: 100%;
  color: black;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-top {
  background: linear-gradient(to bottom right, var(--gra-color1), var(--gra-color2), var(--gra-color3));
  padding-top: 40px;
}

.tap {
  display: flex;
  gap: 10px;
}

.main-bottom h6 {
  padding: 6px;
}
.mission {
  display: flex;
  padding: 2px 15px;
  margin: 20px;
  border: 1px solid grey;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.mission h6 {
  width: 80%;
}

.myGroup {
  width: fit-content;
  margin: 20px;
}

.myGroup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.myModal {
  margin: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}