:root {
  --gra-color1: #FAF29D;
  --gra-color2: #F5FFDB;
  --gra-color3: #CCFFE6;
  --main-color: #87F6A6;
  --sub-color1: #EAFFF4;
  --sub-color2: #30C88B;
  --sub-color3: #D5D5D5;
  --sub-color4: #808080;
  --sub-color5: #FF4D00;
  --gray-color: #EDEDED;
  --tex-color1: #2AC8AB;
  --tex-color2: #F1DC0E;
  --tex-color3: #FFBD01;
}


@font-face {
  font-family: "font_tennine";
  src: url("./font/tennine.TTF");
}

@font-face {
  font-family: "font_NanumSquare";
  src: url("./font/NanumSquare.ttf");
}

@font-face {
  font-family: "font_NanumSquareR";
  src: url("./font/NanumSquareR.ttf");
}

.App {
  text-align: center;
  user-select: none;
  overflow-x: hidden;
}

h1, h3 {
  font-family: "font_tennine";
}

h5, h6 {
  font-family: "font_NanumSquare";
  font-weight: bold;
}

div {
  box-sizing: border-box;
}

/*Nav css*/
.nav-bar {
  display: flex;
  background: white;
  width: 100%;
  height: 80px;
  color: black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10 ;
  position: relative;
}

.nav-bar h6 {
  margin: auto;
}

.nav-bar div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-logo {
  width: 40px;
}

.imgs {
  width: 24px;
}

.button-logout {
  border: solid 2px var(--main-color);
  border-radius: 30px;
  padding: 5px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "font_NanumSquare";
  font-weight: bold;
}

/*tap css*/
.main-top {
  background: linear-gradient(to bottom right, var(--gra-color1), var(--gra-color2), var(--gra-color3));
  padding-top: 40px;
  height: 220px;
  position: relative;
}

.todo-tap h6 {
  padding: 6px;
}

.tap {
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.tap .nav-link {
  color: var(--sub-color4);
  background-color: var(--sub-color1);
  padding: 8px 30px;
  font-family: "font_NanumSquare";
  font-weight: bold;
}

/*To do css*/
.input-todo {
  width: 20%;
  min-width: 250px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 2px var(--gray-color);
  border-radius: 5px;
  height: 40px;
  margin-top: 25px;
  padding-left: 10px;
  font-family: "font_NanumSquareR";
}
.button-todo-plus {
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 0px 20px;
  margin: 0px 15px;
  border: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "font_tennine";
  font-size: 25px;
}

.mission {
  display: flex;
  padding: 7px 15px;
  margin: 20px;
  border: 2px solid var(--gray-color);
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mission-checkbox {
  accent-color: var(--sub-color3);
}

.mission h6 {
  width: 80%;
  margin: auto;
  font-size: 15px;
}

.button-x {
  border: 0;
  background-color: transparent;
  color: var(--main-color);
}

.gray-button {
  color: var(--sub-color3);
}

.empty-message {
  margin: 60px 0;
  color: var(--sub-color4);
}

/*My group css*/
.col-md-4{
  display: block;
}
.myGroup {
  width: fit-content;
  margin: 20px;
  padding: 15px;
  border: solid 2px var(--sub-color3);
  border-radius: 15px;
  align-self: center;
  margin: 20px auto 0;
}

.myGroup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.myGroup-top>button, .myGroup-top>h5 {
  font-family: "font_tennine";
  font-weight: normal;
  color: var(--sub-color2);
}

.button-plus {
  border: 0;
  background-color: transparent;
  font-size: 30px;
}
.button-mygroup {
  width: 200px;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 7px 10px;
  margin: 10px 0px 0px;
  border: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  bottom: 0;
  font-family: "font_NanumSquare";
  font-weight: bold;
}
.groupLine {
  width: 215px;
  height: 2px;
  background-color: var(--main-color);
}
.groupList{
  display: flex;
  margin: 10px 0px;
  font-family: "font_NanumSquare";
  font-weight: bold;
}
.myGroupPrice {
  display: block;
  margin: 0px 10px;
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 70px;
}
.myGroupName {
  width: 120px;
  text-align: right;
  overflow: auto;
}

/* MyCalendar.css */
.calendar-tap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.calendar-tap > * {
  flex: 0 0 50%;
}

.myCalendar {
  
}

.react-calendar__tile {
  width: 4.5em;
  height: 4.5em;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--sub-color1);
}

.react-calendar__tile--now {
  background: white;
}

.react-calendar__tile--active {
  background: var(--sub-color1);
  color: var(--sub-color2);
}

.point {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.point .point-value {
  font-size: 0.8em;
  margin-top: 0.2em;
  color: black;
  text-align: right;
}


.react-calendar .react-calendar__tile--pointNull {
  background-color: white;
}

.react-calendar .react-calendar__tile--point0 {
  background-color:  var(--main-color);
}

.react-calendar .react-calendar__tile--point2 {
  background-color: var(--gra-color3);
}

.react-calendar .react-calendar__tile--point4 {
  background-color: var(--gra-color2);
}

.react-calendar .react-calendar__tile--point5 {
  background-color: var(--gra-color1);
}


/* modal css*/
.main-modal {
  align-content: center;
}
.main-modal input, textarea {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--gray-color);
  border-radius: 5px;
}
.main-modal p {
  margin: 0;
  font-size: 12px;
}
.modal-div {
  display: flex;
  margin: 35px 20px;
}
.modal-div h5 {
  width: 150px;
  margin-right: 20px;
}
.button-price {
  margin: 5px;
  background-color: var(--sub-color3);
  padding: 10px 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  border: 0;
}
.button-price-clicked {
  background-color: var(--main-color) !important;
}
.modal-p {
  margin-top: 10px;
  color: var(--sub-color4);
}
.modal-div>p {
  align-content:end;
  color: var(--sub-color5);
  margin-left: 10px;
}
.modal-creategroup {
  overflow: scroll;
}
.modal-creategroup::-webkit-scrollbar {
  display: none;
}
.modal-joingroup {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-self: center;
}
.modal-joingroup input {
  margin: 10px;
  height: 40px;
}
.input-groupname {
  width: 400px;
  height: 40px;
}
.input-grouppw {
  width: 250px;
  height: 40px;
}
.modal textarea {
  width: 700px;
  height: 100px;
}
.button-group {
  width: 140px;
  background-color: var(--main-color);
  border-radius: 25px;
  padding: 10px 10px;
  margin: 0px 5px;
  border: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  font-family: "font_NanumSquare";
  font-weight: bold;
}
.button-join {
  margin: 10px;
  border: 0;
  background-color: var(--main-color);
  height: 45px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "font_NanumSquare";
  font-weight: bold;
}

.main-modal-title {
  font-family: 'font_tennine';
  font-size: 30px;
}