:root {
  --gra-color1: #FAF29D;
  --gra-color2: #F5FFDB;
  --gra-color3: #CCFFE6;
  --main-color: #87F6A6;
  --sub-color1: #EAFFF4;
  --sub-color2: #30C88B;
  --sub-color3: #D5D5D5;
  --gray-color: #EDEDED;
}

#root {
  height: 100%;
}

/* Group.css */

.Group {
  text-align: center;
  user-select: none;
  overflow-x: hidden;
  height: 100vh;
}

/* clearfix 적용 */
.Group::after {
  content: "";
  display: table;
  clear: both;
}

div {
  box-sizing: border-box;
}


.info-container {
  background-color: var(--sub-color1);
  width: 300px;
  height: 90vh; /* 화면 전체 높이를 상속 */
  display: inline-block;
  float: left; /* 왼쪽으로 정렬 */
}


.calculate {
  border-radius: 20px;
  background-color: white;
  border: 3px solid var(--main-color);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
}

.members{
  background-color: white;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.members::-webkit-scrollbar {
  display: none;
}

.infoMember{
  display: block;
  background-color: white;
  font-weight: bolder;
  font-size: larger;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.member{
  background: linear-gradient(to right, var(--gra-color3), var(--gra-color2), var(--gra-color1));
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}

.memberMissionList{
  background-color: white;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}

.groupExit{
  color:#a1a1a1;
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
}

.groupCalendar-container {
  padding: 10px;
}

.groupCalendar {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 40px;
  border: 3px solid var(--sub-color3);
  border-radius: 5px;
}


.groupName{
  display: inline-block;
  float: left;
  font-size: 50px;
  font-weight: 600;
}

.groupOption{
  float: right;
  padding-right: 0;
}

.pointWon{
  float: left;
  background-color: var(--main-color);
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  font-weight: 700;
  color: white;
}

.groupNotice{
  display: block;
  text-align: left;
  width: 100%;
  background-color: var(--sub-color1);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.groupInfoTable{
  width: 100%;
}

.groupStats{
  width: 100%;
  height: 600px;
}




